parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$delimiter of class Keboola\\\\Csv\\\\CsvReader constructor expects string, string\\|null given\\.$#"
			count: 3
			path: src/Component.php

		-
			message: "#^Parameter \\#3 \\$enclosure of class Keboola\\\\Csv\\\\CsvReader constructor expects string, string\\|null given\\.$#"
			count: 3
			path: src/Component.php

